{% extends 'flatpages/default.html' %}
{% load news_filters %)
{% block title %}
Добавление поста
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h4>Добавление поста</h4>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <label for="author"> Автор:</label><br>
        <select name="author" id="author">
          {% for author in authors %}
          <option value="{{ author.id }}">{{ author.user.username }}</option>
          {% endfor %}
        </select><br>
        <label for="title">Заголовок:</label><br>
        <input tupe="text" id="title" name="title" required><br>
      <label for="text">Содержание:</label><br>
      <textarea name="text" id="text" cols="30" rows="5" required></textarea><br>
      <label for="categories"> Категории:</label><br>
      <select name="categories" id="categories" multiple size="3" required>
          {% for category in categories %}
          <option value="{{ category.id }}">{{ category.name }}</option>
          {% endfor %}
        </select><br>
        <br>
        <input type="submit" value="Применить" class="btn btn-primary btn-sm">
    </form>
</div>
{% endblock content %}